
header{ 
    display: flex;
    background-color: $primary-normal;
    align-items: center;
    width: 100%;
}
.img{
    padding-left: 10%;
    img{
            width: 10%;
    };
    
}

ul{
    display: flex;
    align-items: center;
    gap: 100px;
}

.header-links{
    color: black;
}
.bg-home .nav{
    padding-right: 20px;

}
#chk-toggle{
    display: none;
}





