header{ 

    background-color: $primary-normal;

    
}
.header-content{
    
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.header-content .logo{

    width: 10%;
}

.header-content ul{

    display: flex;
    align-items: center;
    gap: 60px;
}

.header-links{
    color: black;
}



@media screen and (max-width: 768px){
    .header-content .logo{
        width: 100px;
    }
    header{ 
    width: 100%;
    padding: 5px 40px;
  }
  .header-content ul{
    gap: 30px
  }
}