.container{
    max-width: 1440px;
    margin: 0 auto
}

.hero{
    display: flex;
    padding: 84px 136.81px 81px 121px;
    align-items: center;
    gap: 100px;
    justify-content: space-between;
    

}

.chamada1{
    img{width: 164px;
        height: 108px;
        align-items: left;
    }
    h1{
        font-size: 69px;
        color: $primary-normal;
        padding-bottom: 29px;
    }
    p{
        font-size: 20px;
        color: $primary-normal; 
        padding-bottom: 44px;
    }
    
}

.chamada1 .form1{
    display: flex;
    gap: 10px;
    input{
        width: 339px;
        padding: 20px 18px;
        align-items: center;
        gap: 10px;
        border-radius: 37px;
        border: 1px solid rgba(0, 0, 0, 0.20);
        background: #FAFAFA;
    }
    button{
        width: 146px;
        height: 64px;
        padding: 20px 24px;
        justify-content: center;
        align-items: center;
        border-radius: 70px;
        background-color: $primary-orange;
        }
    
}

.button-intro{
    padding: 14px 28px;
    color: $primary-normal;
    background-color: $primary-orange;
    border: 0;
    font-size: 18px;
    font-weight: 600;
    margin: 14px 0;
}

.button-intro:hover{
    animation: scaleButton 0.8s alternate infinite;
}


.box-ellipse{    
    img{
        width: 170px;
        height: 170px;
    }  
    div{
        display: inline-block;
        padding: 20px 20px 20px 20px;
    } 
    p{
        color: $primary-normal;
        text-align: center;
        font-size: 20px;
        
    }
}

.chamada2{
    h2{
        color: $primary-normal;
        font-size: 58.833px;
        padding-bottom: 20px;

    }
    p{
        color: $primary-normal;
        font-size: 22.063px;
        padding-bottom: 20px;
    }

    a{
        color: $primary-orange;
        font-size:22.063px ;
    }

}

.box-ellipse1{ 
    img{
        width:170px ;
        height: 170px;
    }

    div{
        display: flex;
        gap: 50px;
        padding: 30px 30px 30px 30px;
        
    }
    h3{
        color: $primary-normal;
        padding-bottom: 20px;
    }

}


@keyframes scaleButton{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.07);
    }
}

@media screen and (max-width: 768px){ 
    .hero{
        h1{
            font-size: 30px;
            padding: 0 14px;
            width: 100%;
        }
    }
    }

   