.container{
    max-width: 1440px;
    margin: 0 auto
}


.hero{
    display: flex;
    padding: 84px 136.81px 81px 121px;
    align-items: center;
    gap: 60px;
    justify-content: space-between;
    

}

.chamada1{
    img{width: 164px;
        height: 108px;
        align-items: left;
    }
    h1{
        font-size: 50px;
        color: $primary-normal;
        padding-bottom: 29px;
    }
    p{
        font-size: 17px;
        color: $primary-normal; 
        padding-bottom: 44px;
    }
    
}

.chamada1 .form1{
    display: flex;
    gap: 10px;
    input{
        width: 339px;
        padding: 20px 18px;
        align-items: center;
        gap: 10px;
        border-radius: 37px;
        border: 1px solid rgba(0, 0, 0, 0.20);
        background: #FAFAFA;
        font-size: 20px;
    }
    button{
        width: 146px;
        height: 64px;
        padding: 20px 24px;
        justify-content: center;
        align-items: center;
        border-radius: 70px;
        background-color: $primary-orange;
        font-size: 15px;
        }
    
}

.first3D{
    width: 500px;
    height: 570px;
}




.box-ellipse{    
    img{
        width: 110px;
        height: 110px;
    }  
    div{
        display: inline-block;
        padding: 20px 20px 20px 20px;
    } 
    p{
        color: $primary-normal;
        text-align: center;
        font-size: 20px;
        
    }
}

.chamada2{
    h2{
        color: $primary-normal;
        font-size: 55px;
        padding-bottom: 20px;

    }
    p{
        color: $primary-normal;
        font-size: 22.063px;
        padding-bottom: 20px;
    }

    a{
        color: $primary-orange;
        font-size:22.063px ;
    }

}



.box-ellipse1{ 
    img{
        width:110px ;
        height: 110px;
    }

    div{
        display: flex;
        gap: 50px;
        padding: 30px 30px 30px 30px;
        align-items: center;
        
    }
    h3{
        color: $primary-normal;
        padding-bottom: 20px;
        font-size: 14px;
    
    }
 

}

.box-orange{
    display: flex;
    background-color: $primary-orange;
    border-radius: 60px;
    padding:79px 74px 57px 79px;
    gap: 100px;
    h2{
        font-size: 60px; 
        color: $primary-normal; 
    }
    button{
        width: 221px;
        height: 40px;
        border-radius: 50px;
        background-color: $primary-normal;
        text-align: center;
        color: $primary-orange;
    }

    p{
        font-size: 20px;
        line-height: 40px;
        color: $primary-normal;
    }

}

.img-text{
    display: flex;
    img{
        border-radius: 30px;
    }
}

.text-img{
  p{
        font-size: 20px;
        line-height: 40px;
        color: $primary-normal;
     }
  h2{
        font-size: 60px; 
        color: $primary-normal; 
  }

}


.hero1{
    display: inline-block;
    padding: 84px 136.81px 81px 121px;
    align-items: center;
    gap: 60px;
    justify-content: space-between;
}

.text{
   display: flex;
}
#text-info{
    width: 572px;
    padding: 10px 10px;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
  h4{
    color: $primary-normal;
    font-size: 20px;
    line-height: 36px;
  }
  p{
    font-size: 14px;
    color: $primary-normal;
    line-height: 20px;
    
  }
}
#button{
    display: flex;
    align-items: center;
}


#mais{
    display: none;
}
#mais1{
    display: none;
}
#mais2{
    display: none;
}

#btnLeiaMais{
    background-color: $primary-orange;
    border-radius: 60px;
    width: 20px;
    height: 20px; 
}
#btnLeiaMais1{
    background-color: $primary-orange;
    border-radius: 60px;
    width: 20px;
    height: 20px; 
}
#btnLeiaMais2{
    background-color: $primary-orange;
    border-radius: 60px;
    width: 20px;
    height: 20px; 
}

.form2{
   
    h3{
        color: $primary-normal;
        font-size: 36px;
        padding-bottom: 20px;
        font-weight: 500;
        line-height: 52px; /* 144.444% */
        letter-spacing: -1px;
        text-transform: capitalize;
    }
    p{
        color: $primary-normal;
        font-size: 20px;
        padding-bottom: 20px;
        font-weight: 500;
        line-height: 36px; /* 180% */
    }
    div{
        display: flex;
        gap: 20px;
    }
    input{
        display: flex;
        padding: 20px 18px;
        align-items: center;
        gap: 10px;
        flex: 1 0 0;
        border-radius: 70px;
    }
    button{
        display: flex;
        width: 144px;
        height: 62px;
        padding: 20px 24px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 70px;
        background-color: $primary-orange;
        }
    
}



   