* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

header {
  display: flex;
  background-color: #edf0f2;
  align-items: center;
  width: auto;
}

.img {
  padding-left: 10%;
}
.img img {
  width: 10%;
}

ul {
  display: flex;
  align-items: center;
  gap: 100px;
}

.header-links {
  color: black;
}

.bg-home .nav {
  padding-right: 20px;
}

#chk-toggle {
  display: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.hero {
  display: flex;
  padding: 84px 136.81px 81px 121px;
  align-items: center;
  gap: 60px;
  justify-content: space-between;
}

.chamada1 img {
  width: 164px;
  height: 108px;
  align-items: left;
}
.chamada1 h1 {
  font-size: 50px;
  color: #edf0f2;
  padding-bottom: 29px;
}
.chamada1 p {
  font-size: 17px;
  color: #edf0f2;
  padding-bottom: 44px;
}

.chamada1 .form1 {
  display: flex;
  gap: 10px;
}
.chamada1 .form1 input {
  width: 339px;
  padding: 20px 18px;
  align-items: center;
  gap: 10px;
  border-radius: 37px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: #FAFAFA;
  font-size: 20px;
}
.chamada1 .form1 button {
  width: 146px;
  height: 64px;
  padding: 20px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 70px;
  background-color: #fe6b12;
  font-size: 15px;
}

.first3D {
  width: 500px;
  height: 570px;
}

.box-ellipse img {
  width: 110px;
  height: 110px;
}
.box-ellipse div {
  display: inline-block;
  padding: 20px 20px 20px 20px;
}
.box-ellipse p {
  color: #edf0f2;
  text-align: center;
  font-size: 20px;
}

.chamada2 h2 {
  color: #edf0f2;
  font-size: 55px;
  padding-bottom: 20px;
}
.chamada2 p {
  color: #edf0f2;
  font-size: 22.063px;
  padding-bottom: 20px;
}
.chamada2 a {
  color: #fe6b12;
  font-size: 22.063px;
}

.box-ellipse1 img {
  width: 110px;
  height: 110px;
}
.box-ellipse1 div {
  display: flex;
  gap: 50px;
  padding: 30px 30px 30px 30px;
  align-items: center;
}
.box-ellipse1 h3 {
  color: #edf0f2;
  padding-bottom: 20px;
  font-size: 14px;
}

.box-orange {
  display: flex;
  background-color: #fe6b12;
  border-radius: 60px;
  padding: 79px 74px 57px 79px;
  gap: 100px;
}
.box-orange h2 {
  font-size: 60px;
  color: #edf0f2;
}
.box-orange button {
  width: 221px;
  height: 40px;
  border-radius: 50px;
  background-color: #edf0f2;
  text-align: center;
  color: #fe6b12;
}
.box-orange p {
  font-size: 20px;
  line-height: 40px;
  color: #edf0f2;
}

.img-text {
  display: flex;
}
.img-text img {
  border-radius: 30px;
}

.text-img p {
  font-size: 20px;
  line-height: 40px;
  color: #edf0f2;
}
.text-img h2 {
  font-size: 60px;
  color: #edf0f2;
}

.hero1 {
  display: inline-block;
  padding: 84px 136.81px 81px 121px;
  align-items: center;
  gap: 60px;
  justify-content: space-between;
}

.text {
  display: flex;
}

#text-info {
  width: 572px;
  padding: 10px 10px;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
}
#text-info h4 {
  color: #edf0f2;
  font-size: 20px;
  line-height: 36px;
}
#text-info p {
  font-size: 14px;
  color: #edf0f2;
  line-height: 20px;
}

#button {
  display: flex;
  align-items: center;
}

#mais {
  display: none;
}

#mais1 {
  display: none;
}

#mais2 {
  display: none;
}

#btnLeiaMais {
  background-color: #fe6b12;
  border-radius: 60px;
  width: 20px;
  height: 20px;
}

#btnLeiaMais1 {
  background-color: #fe6b12;
  border-radius: 60px;
  width: 20px;
  height: 20px;
}

#btnLeiaMais2 {
  background-color: #fe6b12;
  border-radius: 60px;
  width: 20px;
  height: 20px;
}

.form2 h3 {
  color: #edf0f2;
  font-size: 36px;
  padding-bottom: 20px;
  font-weight: 500;
  line-height: 52px; /* 144.444% */
  letter-spacing: -1px;
  text-transform: capitalize;
}
.form2 p {
  color: #edf0f2;
  font-size: 20px;
  padding-bottom: 20px;
  font-weight: 500;
  line-height: 36px; /* 180% */
}
.form2 div {
  display: flex;
  gap: 20px;
}
.form2 input {
  display: flex;
  padding: 20px 18px;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  border-radius: 70px;
}
.form2 button {
  display: flex;
  width: 144px;
  height: 62px;
  padding: 20px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 70px;
  background-color: #fe6b12;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #122233;
}

::-webkit-scrollbar-thumb {
  background-color: #fe6b12;
  border-radius: 3px;
}

@media screen and (max-width: 768px) {
  header {
    border-radius: 0px 0px 10px 10px;
    margin: 0 7px;
  }
  #chk-t0ggle {
    display: none;
  }
  #toggle {
    display: inline-block;
    padding: 11px;
  }
  #toggle span {
    display: block;
    width: 22px;
    height: 3px;
    background: #fe6b12;
    margin: 2px;
  }
  .header-content ul {
    display: none;
  }
  .bg-home .nav {
    display: none;
  }
  .img {
    padding-left: 10%;
  }
  .img img {
    width: 20%;
  }
}
@media screen and (max-width: 768px) {
  .hero {
    display: block;
    padding: 10px;
    align-items: center;
    gap: 60px;
    justify-content: space-between;
    text-align: center;
  }
  .chamada1 {
    padding-top: 50px;
    padding-bottom: 60px;
  }
  .chamada1 img {
    width: 164px;
    height: 108px;
  }
  .chamada1 h1 {
    font-size: 30px;
    color: #edf0f2;
    padding-bottom: 29px;
    text-align: center;
  }
  .chamada1 p {
    font-size: 17px;
    color: #edf0f2;
    padding-bottom: 44px;
    text-align: center;
  }
  .chamada1 .form1 {
    display: inline-block;
    gap: 10px;
  }
  .chamada1 .form1 input {
    width: 200px;
    padding: 20px 18px;
    align-items: center;
    gap: 10px;
    border-radius: 37px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: #FAFAFA;
    font-size: 20px;
  }
  .chamada1 .form1 button {
    width: 146px;
    height: 64px;
    padding: 20px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 70px;
    background-color: #fe6b12;
    font-size: 15px;
  }
  .first3D {
    width: auto;
    height: 570px;
    padding-bottom: 60px;
  }
  .box-ellipse {
    padding-bottom: 60px;
  }
  .box-ellipse img {
    width: 90px;
    height: 90px;
  }
  .box-ellipse div {
    display: inline-block;
    width: 150px;
  }
  .box-ellipse p {
    color: #edf0f2;
    text-align: center;
    font-size: 20px;
  }
  .chamada2 {
    padding-bottom: 60px;
  }
  .chamada2 h2 {
    color: #edf0f2;
    font-size: 30px;
    padding-bottom: 30px;
  }
  .chamada2 p {
    color: #edf0f2;
    font-size: 18px;
    padding-bottom: 30px;
  }
  .chamada2 a {
    color: #fe6b12;
    font-size: 18px;
  }
  .box-orange {
    width: auto;
    display: inline-block;
    background-color: #fe6b12;
    border-radius: 60px;
    padding: 30px;
  }
  .box-orange h2 {
    font-size: 30px;
    color: #edf0f2;
    padding-bottom: 20px;
  }
  .box-orange button {
    width: 50%;
    height: 40px;
    border-radius: 50px;
    background-color: #edf0f2;
    text-align: center;
    color: #fe6b12;
  }
  .box-orange p {
    font-size: 18px;
    line-height: 20px;
    color: #edf0f2;
    padding-bottom: 30px;
  }
}
body {
  max-width: 100%;
  height: 100%;
  position: relative;
  background-color: #122233;
}

button {
  cursor: pointer;
}

svg {
  width: 100%;
}

img {
  width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    border: none;
  }
  html, body {
    height: 100%;
  }
}/*# sourceMappingURL=style.css.map */