*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

@import "partials/_colors.scss";
@import "partials/_header.scss";
@import "partials/layout";
@import "partials/scrollbar";
@import "partials/css_smartphone/smartheader";
@import "partials/css_smartphone/smartphone";


body{
    max-width: 100%;
    height: 100%;
    position: relative;
    background-color: $primary-blue;
}

button{

    cursor: pointer;
}

svg{
    width: 100%;
}

img{
    width: 100%;
}

a{
    cursor: pointer;
    text-decoration: none;
}

@media screen and (max-width: 768px){
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        position: relative;
        border: none;
       
    }

    html, body{
        height: 100%;
    }
}
