*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

@import "partials/_colors.scss";
@import "partials/_header.scss";
@import "partials/layout";


body{
    max-width: 100%;
    height: 100vh;
    position: relative;
    background-color: $primary-blue;
}

button{

    cursor: pointer;
}

svg{
    width: 100%;
}

img{
    width: 100%;
}

a{
    cursor: pointer;
    text-decoration: none;
}